.header {
  height: 64px;
  width: 100%;
  background-color: #4A90E2;
}

.header .content {
  display: flex;
  color: #FFF;
  font-size: 18px;

  align-items: center;
  justify-content: space-between;

  padding: 10px 50px;
}

.header .content .logo {
  font-size: 35px;
}

.header .content .perfil {
  padding-right: 30px;
}